services:
  nutritioncore:
    image: nutritioncore
    restart: always
    build:
      context: .
      dockerfile: NutritionCore/Dockerfile
    ports:
      - "9090:9090"
    networks:
      - nutrition
    links:
      - mongo
    depends_on:
      - mongo
      - redis
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: "http://+:9090"
    volumes:
      - /path/to/home/.microsoft/usersecrets:/root/.microsoft/usersecrets
      - /path/to/home/.aspnet/https:/root/.aspnet/https

  usercore:
    image: usercore
    build:
      context: .
      dockerfile: UserCore/Dockerfile
    ports:
      - "5005:5005"
    networks:
      - nutrition
    depends_on:
      - postgres_user
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: "http://+:5005"
      ConnectionStrings__PostgreSql: "Host=postgres_user;Port=5432;Database=Nutrition;Username=root;Password=admin;Include Error Detail=true"
  
  zookeeper:
    image: confluentinc/cp-zookeeper
    container_name: zookeeper
    ports:
      - 2181:2181
    environment:
      - ZOOKEEPER_CLIENT_PORT=2181
      - ZOOKEEPER_TICK_TIME=2000
    networks:
      - kafka
      - nutrition

  kafka:
    image: confluentinc/cp-kafka
    container_name: kafka
    ports:
      - 9092:9092
    environment:
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_BROKER_ID=1
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
    networks:
      - kafka
      - nutrition
    depends_on:
      - zookeeper
  
  mongo:
    image: mongo
    volumes:
      - mongo_data:/data/db
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: Nutrition
    networks:
      - nutrition
      
  redis:
    image: redis
    restart: always
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    networks:
      - nutrition
        
  postgres_user:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: Nutrition
    ports:
      - "5433:5432"
    networks:
      - nutrition
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
networks:
  kafka:
    driver: bridge
  nutrition:
    driver: bridge

volumes:
  postgres_data:
  mongo_data:
